@if (TempData["StatusMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"> </i> @TempData["StatusMessage"]
    </div>
}
