@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    int? modecheck = HttpContextAccessor.HttpContext.Session.GetInt32("dupmode");
}

@{
    ViewData["Active"] = "1";
    ViewData["Title"] = "Bắt đầu kiểm tra...";
}
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#inputcatkytu').val("1");
            var catKyTuButton = $("#catkytu");
            catKyTuButton.on("click", function () {
                if (catKyTuButton.hasClass("bg-success")) {
                    catKyTuButton.removeClass("bg-success").addClass("bg-danger");
                    catKyTuButton.text("Model đang kiểm tra : T543"); // Cập nhật nội dung nút
                    $('#inputcatkytu').val("0");
                } else {
                    catKyTuButton.removeClass("bg-danger").addClass("bg-success");
                    catKyTuButton.text("Model đang kiểm tra : T527,L1231"); // Cập nhật nội dung nút
                    $('#inputcatkytu').val("1");
                }
                $("#thitruong").focus();
            });
        });
    </script>

    <script>
        $("#thitruong").keydown(function (e) {
            if (e.keyCode === 13) {
                // enter event
                document.getElementById("sopallet").focus();
            }
        });
        $("#sopallet").keydown(function (e) {
            if (e.keyCode === 13) {
                // enter event
                const myForm = document.getElementById('batdau');
                event.preventDefault(); // Đừng thực hiện hành động mặc định khi nhấn Enter
                myForm.submit(); // Gửi form
                //document.getElementById("sobody").focus();
            }
        });
    </script>
}

    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    Check Pallet Software <small>Version 1.0</small>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">Bắt đầu kiểm tra</li>
                        <li class="breadcrumb-item active">Bước 1</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <a id="catkytu" style="color:white" class="btn bg-success btn-lg">Model đang kiểm tra : T527,L1231</a>
                </div>
                <div class="col-12" style="margin-top:10px">
                    <form id="batdau" class="form-horizontal">
                        <div class="card card-purple shadow">
                            <div class="card-header">
                                <h3 class="card-title">  <small>Bước</small>  <i class="fa-solid fa-1"></i></h3>
                                @{
                                if (modecheck == 0)
                                {
                                    <span style="float:right" class=" badge badge-danger"> Check trùng Number list : KHÔNG CHO PHÉP</span>
                                }
                                if (modecheck == 1)
                                {
                                    <span style="float:right" class=" badge badge-success"> Check trùng Number list : CHO PHÉP</span>
                                }
                            }
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" style="text-align: center;"> Mã thị trường</label>
                                <div class="col-sm-9">
                                    <input id="thitruong" name="thitruong" type="text" class="form-control" autofocus required autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" style="text-align: center;">Mã pallet</label>
                                <div class="col-sm-9">
                                    <input id="sopallet" name="sopallet" type="text" class="form-control" required autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group row" hidden>
                                <label class="col-sm-3 col-form-label" style="text-align: center;">Cắt ký tự</label>
                                <div class="col-sm-9">
                                    <input id="inputcatkytu" name="inputcatkytu" type="text" class="form-control" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>


            <div class="col-12">
                <partial name="_Alert" />
            </div>
        </div>

    </div>
</div>








