@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Đăng nhập</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/adminlte-master/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/adminlte-master/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/adminlte-master/dist/css/adminlte.min.css">
    <!-- jQuery -->
    <script src="~/adminlte-master/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/adminlte-master/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/adminlte-master/dist/js/adminlte.min.js"></script>
    <style>
        .login-page {
            background-image: url('/2.jpg');
            background-size:unset;
        }
    </style>
</head>
<body class="hold-transition login-page">
    <partial name="_Alert" />
    <div class="login-box">
        <div class="login-logo">
            <i class="fa fa-cog fa-spin" aria-hidden="true"></i>

              <a href="/"><b>PDC</b>checkpallet</a>
        </div>
        <div class="card">
            <div class="card-body login-card-body shadow">
                <p class="login-box-msg">Nhập mã nhân viên và mật khẩu</p>

                <form asp-action="Login">
                    <div class="input-group mb-3">
                        <input name="manv" type="text" class="form-control" placeholder="Mã nhân viên" autofocus required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input name="matkhau" type="password" class="form-control" placeholder="Mật khẩu" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-key"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn bg-gradient-primary btn-block">Đăng nhập</button>
                        </div>
                    </div>
                </form>               
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>

</body>

</html>
