@model pdc.Models.Lichsu.User

@{
    ViewData["Active"] = "dropdownSubMenu1";

    ViewData["Title"] = "Thêm tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                Check Pallet Software <small>Version 1.0</small>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active">Quản lý</li>
                    <li class="breadcrumb-item active">Thêm tài khoản</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<div class="content">
    <div class="container">
        <div class="col-lg-6">
        <div class="card card-primary shadow">
            <div class="card-header">
                <h3 class="card-title"><i class="fa fa-user-plus"> </i> Nhập thông tin tài khoản mới</h3>
            </div>
            <form asp-action="Create" class="form-horizontal">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Mã nhân viên</label>
                        <div class="col-sm-8">
                            <input asp-for="Manv" class="form-control" placeholder="Nhập mã nhân viên..." required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Mật khẩu</label>
                        <div class="col-sm-8">
                            <input asp-for="Password" class="form-control" placeholder="Nhập mật khẩu..." required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Họ tên</label>
                        <div class="col-sm-8">
                            <input asp-for="Hoten" class="form-control" placeholder="Nhập họ tên..." required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Bộ phận</label>
                        <div class="col-sm-8">
                            <input asp-for="Bophan" class="form-control" placeholder="Nhập bộ phận làm việc..." />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Ca làm việc</label>
                        <div class="col-sm-8">
                            <input asp-for="Calamviec" class="form-control" placeholder="Nhập ca làm việc hiện tại..." />
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <input type="submit" value="Xác nhận" class="btn btn-outline-primary btn-block" />
                </div>
            </form>
        </div>
        <div class="col-12">
            <partial name="_Alert" />
        </div>
    </div>
</div>

</div>
